* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Averia Gruesa Libre';
}

body {
    background-image: url(background3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #ff7300;
    text-align: center;
    letter-spacing: 2px;
    font-size: 60px;
    margin-top: 1rem;
}

.main-container {
    position: absolute;
    top: 59%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 375px;
    height: 500px;
    /* border: 2px solid black; */
    background-image: url(1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 23px 0px rgb(231, 54, 54);
    animation: slide 70s infinite linear 10s;
}

@keyframes slide {
    0% {
        background-image: url(1.jpg);
        background-size: 100% 100%;
        opacity: 1;
    }
    4.2% {
        background-image: url(2.jpg);
        background-size: 100% 100%;
        opacity: 1;
    }
    8.2% {
        background-image: url(3.jpg);
        background-size: 100% 100%;
    }
    12.5% {
        background-image: url(4.jpg);
        background-size: 100% 100%;
    }
    16.7% {
        background-image: url(5.jpg);
        background-size: 100% 100%;
    }
    20.9% {background-image: url(6.jpg);
        background-size: 100% 100%;
    }
    25.3% {background-image: url(7.jpg);
        background-size: 100% 100%;
    }
    29.7% {background-image: url(8.jpg);
        background-size: 100% 100%;
    }
    33.8% {background-image: url(9.jpg);
        background-size: 100% 100%;
    }
    38.2% {background-image: url(10.jpg);
        background-size: 100% 100%;
    }
    43.4% {background-image: url(11.jpg);
        background-size: 100% 100%;
    }
    47.5% {background-image: url(12.jpg);
        background-size: 100% 100%;
    }
    51.7% {background-image: url(13.jpg);
        background-size: 100% 100%;
    }
    55.9% {background-image: url(14.jpg);
        background-size: 100% 100%;
    }
    60.1% {background-image: url(15.jpg);
        background-size: 100% 100%;
    }
    64.2% {background-image: url(16.jpg);
        background-size: 100% 100%;
    }
    68.4% {background-image: url(17.jpg);
        background-size: 100% 100%;
    }
    72.6% {background-image: url(18.jpg);
        background-size: 100% 100%;
    }
    76.8% {background-image: url(19.jpg);
        background-size: 100% 100%;
    }
    80.9% {background-image: url(20.jpg);
        background-size: 100% 100%;
    }
    85.1% {background-image: url(21.jpg);
        background-size: 100% 100%;
    }
    90.3% {background-image: url(22.jpg);
        background-size: 100% 100%;
    }
    95.6% {background-image: url(23.jpg);
        background-size: 100% 100%;
    }
}

.left-container {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    height: 295px;
    width: 200px;
    font-size: 18px;
    background-color: rgb(255, 195, 195);
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0px 23px 0px rgb(231, 54, 54);
    /* border: 2px solid rebeccapurple; */
}